doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(action="/regForm/form", method="post").reg_form
      h3 Register User
      br
      .input 
        input(type="text", name="id", placeholder="Employee ID")
        br
        input(type="text", name="user_name", placeholder="Employee Name") 
        br
        input(type="email", name="email", placeholder="Email ID") 
        br
        input(type="password", name="password", placeholder="password") 
        br
      .action 
        input(type="submit", value="Register")